// Colors
$primary: #F59E0B;
$secondary: #333333;
$body-text: #6B7280;
$background: #FFFFFF;
$card-bg: #F3F4F6;
$success: #10B981;
$warning: #EF4444;


// Spacing
$spacing-unit: 1rem;
$border-radius: 0.5rem;