@use 'variables' as variables;
@use 'sass:color';
@use 'sass:math';

//F-Recipe
.featured-recipe {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin: variables.$spacing-unit * 3 0;

  h2 {
    width: 100%;
    background: variables.$primary;
    padding: 0.7em;
    color: variables.$secondary;
    font-size: 1.5rem;
    margin-bottom: variables.$spacing-unit;
  }

  .featured-content{
    display: flex;

    hr{
      color: lightgray;
    }

    img{
      width: 100%;
      object-fit: cover;
    }

    .left{
      width: 25%;

      #dish{
        width: 50%;
        height: 150px;
      }

      #user{
        width: 20%;
        height: 60px;
        border-radius: 50%;
      }

      h6{
        margin: 0.3em;
        letter-spacing: 0.05em;
      }

    }

    .right{
      width: 75%;
      margin-left: variables.$spacing-unit;
      padding: variables.$spacing-unit;
      border-left: 2px solid variables.$secondary;

      .read-more-button {
        background-color: variables.$primary;
        color: white;
        padding: variables.$spacing-unit/2 variables.$spacing-unit / 2;
        border-radius: variables.$border-radius;
        font-weight: 600;
        letter-spacing: variables.$spacing-unit / 10;
        transition: background-color 0.3s;

        &:hover {
          background-color: color.adjust(variables.$primary, $lightness: -10%);
        }
      }
    }
  }

  &__title {
    font-size: 1.5rem;
    color: variables.$secondary;
  }
}

//Recipe grid
.recipe-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: variables.$spacing-unit * 2;
  margin: variables.$spacing-unit * 2 0;
}
