@use 'variables' as *;
@use 'sass:color';

.header {
  background-color: $primary;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: $spacing-unit 0;

  &__container {
    display: flex;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
  }

  &__logo img {
    height: 5rem;
    border: 1px solid $secondary;
    box-shadow: $secondary 1px 1px;
    border-radius: 50%;
  }

  &__nav ul {
    display: flex;
    list-style: none;
    align-content: baseline;
    padding: 0.2em;
    gap: $spacing-unit * 2;
    align-items: center;

    .MuiButton-root {
      font-weight: 500;
      font-size: large;
      transition: all 0.3s;
      color: $secondary;
      text-decoration: none;
      padding: 0.5em;

      &:hover {
        color: white;
        background-color: transparent;
      }
    }

    .MuiButton-contained {
      color: $secondary;
      box-shadow: none;

      &:hover {
        background-color: #D48A08 !important;
        color: white;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    &__container {
      flex-direction: column;
      gap: 1rem;
    }

    &__nav ul {
      flex-wrap: wrap;
      justify-content: center;
      gap: 0.5rem;
    }
  }
}